<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VerifyCardsProxySoap" />
        <binding name="WSB24Soap" />
        <binding name="WebAuthAutoSoap" />
        <binding name="BasicHttpBinding_IPaygeService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="VerifyCardsProxySoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="WSB24Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="WebAuthAutoSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://92.241.79.149:4255/VerifyCards/VerifyCards.asmx" binding="basicHttpBinding" bindingConfiguration="VerifyCardsProxySoap" contract="WSCartuVerifyCards.VerifyCardsProxySoap" name="VerifyCardsProxySoap" />
      <endpoint address="http://92.241.79.149:4255/VerifyCards/VerifyCards.asmx" binding="customBinding" bindingConfiguration="VerifyCardsProxySoap12" contract="WSCartuVerifyCards.VerifyCardsProxySoap" name="VerifyCardsProxySoap12" />
      <endpoint address="http://92.241.79.149:4255/ecom_get/WSB24.asmx" binding="basicHttpBinding" bindingConfiguration="WSB24Soap" contract="WSCartuB24.WSB24Soap" name="WSB24Soap" />
      <endpoint address="http://92.241.79.149:4255/ecom_get/WSB24.asmx" binding="customBinding" bindingConfiguration="WSB24Soap12" contract="WSCartuB24.WSB24Soap" name="WSB24Soap12" />
      <endpoint address="http://92.241.79.149:4255/AutoAuth/AuthCards.asmx" binding="basicHttpBinding" bindingConfiguration="WebAuthAutoSoap" contract="WSCartuAuthCard.WebAuthAutoSoap" name="WebAuthAutoSoap" />
      <endpoint address="http://92.241.79.149:4255/AutoAuth/AuthCards.asmx" binding="customBinding" bindingConfiguration="WebAuthAutoSoap12" contract="WSCartuAuthCard.WebAuthAutoSoap" name="WebAuthAutoSoap12" />
      <endpoint address="http://pay.ge:1202/PaygeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaygeService" contract="WSPayge.IPaygeService" name="BasicHttpBinding_IPaygeService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
