<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Zek.Test.Properties.Settings.HMSConnectionString" connectionString="Data Source=192.168.10.4;Initial Catalog=HMS;Persist Security Info=True;User ID=sa;Password=Internet1!" providerName="System.Data.SqlClient" />
    <add name="SqlConnectionString" connectionString="Data Source=192.168.0.100;Initial Catalog=InsuranceDB;Persist Security Info=True;User ID=insurancelogin;Password=Insurance1!;application name=Insurance.API" providerName="System.Data.SqlClient" />
    <add name="HMSEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.4;initial catalog=HMS;persist security info=True;user id=sa;password=P@$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GPIHEntities" connectionString="metadata=res://*/GPIH.csdl|res://*/GPIH.ssdl|res://*/GPIH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.97;initial catalog=GPIH;persist security info=True;user id=gpihlogin;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GPIH" connectionString="metadata=res://*/GPIH.csdl|res://*/GPIH.ssdl|res://*/GPIH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.97;initial catalog=GPIH;persist security info=True;user id=gpihlogin;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GPIHEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.97;initial catalog=GPIH;persist security info=True;user id=gpihlogin;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InsuranceDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.100;initial catalog=InsuranceDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SchedulerStartTime" value="00:00:00" />
    <add key="SchedulerEndTime" value="23:59:59" />
    <add key="SchedulerDays" value="1;2;3;4;5;6;0" />
    <add key="SchedulerInterval" value="0:0:00:02" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICustomerCare" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.19:2749/CustomerCare.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerCare" contract="CC.ICustomerCare" name="BasicHttpBinding_ICustomerCare" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>