<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DirectoryUpdate" value="d:\gzekalashvili\Documents\Visual Studio 2012\Projects\Curatio\HMS\HMS\bin\Deploy" />
    <add key="DirectoryLevel" value="3" />
    <add key="DirectoryDestination" value="\\192.168.10.4\c$\inetpub\wwwroot" />
    <add key="AppExeName" value="HMS.Win.exe" />
    <add key="AppName" value="" />
    <add key="CompressFolderName" value="Files" />
    <add key="Compress" value="GZip" />
    <add key="DeleteBin" value="1" />
  </appSettings>
</configuration>