<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppFolderName" value="Bin" />
    <add key="AppExeName" value="gpihapp2005.exe" />

    <add key="UpdateUrl" value="http://192.168.0.20:1234/GPIHAppTest/update.txt" />
    <add key="0UpdaterUrl" value="http://192.168.0.20:1234/AppStart/update.txt" />

    <add key="Proxy" value="1" />
    <add key="ProxyUrl" value="" />
    <add key="ProxyUserName" value="" />
    <add key="ProxyPassword" value="" />
  </appSettings>
</configuration>